/* Checkbox */
.modal {
  &__checkbox {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: getFontSizeMob('form-text');
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
      font-size: getFontSizeDesc('form-text');
      line-height: 1.71;
    }
  }

  &__checkbox-link {
    color: getTextColor('accent');
    text-decoration-skip-ink: none;
  }

  &__checkbox-icon {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: -24px;
    background-image: url(../images/check-off.svg);
    border-radius: 2px;
  }

  &__checkbox-input {
    &:checked + .modal__checkbox-icon {
      background-color: getBcgColor('accent');
      background-image: url(../images/check-on.svg);
    }
  }
}
