/* Чекбокс */
.modal {
  &__checkbox {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 12px;
    line-height: 1.17;
  }

  &__checkbox-link {
    color: $accent-color;
    text-decoration-skip-ink: none;
  }

  &__checkbox-icon {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: -24px;
    background-image: url(../images/check-off.svg);
    border-radius: 2px;
  }

  &__checkbox-input {
    &:checked + .modal__checkbox-icon {
      background-color: $accent-color;
      background-image: url(../images/check-on.svg);
    }
  }
}
