/* Контакты */
.contact-list {
  &--footer {
    display: flex;
    flex-direction: column;
  }
}

.--footer {
  margin-bottom: 9px;
}

.--footer:nth-child(2) {
  margin-left: 0;
  margin-bottom: 0;
}

.--footer {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: inherit;
  line-height: 1.71;
  letter-spacing: inherit;
}
