/* Особенности */
.feature {
  padding: 94px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    background-color: $secondary-bcg-color;
    margin-bottom: 30px;
    border-radius: 4px;
  }

  &__icon {
    height: 70px;
    width: 70px;
  }

  &__title {
    font-size: $primary-text-font-size;
    line-height: $primary-line-height;
    text-transform: uppercase;
  }
}

.feature__item {
  display: inline-flex;
  flex-direction: column;

  width: 270px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}
