/* Логотип */
.logo {
  color: getTextColor('accent');
  font-family: $logo-font-family;
  font-weight: $primary-font-weight;
  font-size: getFontSizeMob('logo');
  line-height: 1.17;
  text-decoration: none;

  @media screen and (min-width: $desktop) {
    font-size: getFontSizeDesc('logo');
    line-height: $secondary-line-height;
  }
}

.logo__text {
  color: getTextColor('black');
  padding-top: 32px;
  padding-bottom: 32px;

  &--inverse {
    color: getTextColor('white');
    padding-top: 0;
    padding-bottom: 0;
  }
}
