/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $desktop) {
    width: unset;
    align-items: flex-start;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid getTextColor('newsletter');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    @media screen and (min-width: $tablet) {
      width: 450px;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0px;
    }

    &[placeholder] {
      display: flex;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      color: getTextColor('newsletter');
      font-size: 16px;
      line-height: 1.25;
    }
  }
}
