/* Портфолио*/
.portfolio {
  &__container {
    @media screen and (min-width: $mobile) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-bottom: 15px;

  &:not(:first-child) {
    margin-left: 8px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: unset;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and (min-width: $tablet) {
  }
}

.card-set__item {
  margin-left: 30px;
  margin-top: 30px;
  width: 450px;
  background: getBcgColor('primary');

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desktop) {
    width: 370px;
  }
}

.card-set__link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  transition: box-shadow $primary-duration $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  & .project__description {
    transition: transform $primary-duration$timing-function;
  }

  &:focus .project__description,
  &:hover .project__description {
    transform: translateY(0);
  }
}
