/* Service */
.service {
  &__container {
    @media screen and (min-width: $mobile) {
      display: flex;
      flex-direction: column;
      padding-bottom: 94px;
    }

    @media screen and (max-width: $max-tablet) {
      display: none;
    }
  }

  &__heading {
    margin-bottom: 50px;
    font-size: getFontSizeDesc('service-header');
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__label-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: getBcgColor('service-label');
  }

  &__label {
    margin-bottom: 0;
    text-align: center;
    font-size: getFontSizeDesc('service-label');
  }
}
