/* Service */
.service {
  @media screen and (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }

  &__heading {
    margin-bottom: 50px;
    font-size: 36px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__label-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__label {
    margin-bottom: 0;
    text-align: center;
  }
}
