/* Service */
.service {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__text {
    color: $white-color;
    font-weight: $primary-font-weight;
    line-height: $primary-line-height;
    text-align: center;
    text-transform: uppercase;
  }
}
