/* Social */
.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: getIconColor('primary');
  background-color: transparent;
  border-radius: 50%;
  transition: color $primary-duration$timing-function,
    background-color $primary-duration$timing-function;

  &:hover,
  &:focus {
    color: getIconColor('secondary');
    background-color: getIconColor('accent');
  }

  &--circle {
    color: getIconColor('secondary');
    background-color: getIconColor('footer');
    transition: background-color $primary-duration$timing-function;
  }

  &--circle:hover,
  &--circle:focus {
    background-color: getIconColor('accent');
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  &--circle {
    fill: currentColor;
  }
}
