/* Team */
.team {
  background-color: getBcgColor('secondary');

  &__container {
    @media screen and (min-width: $mobile) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__heading {
    margin-bottom: 30px;
    font-size: getFontSizeMob('team-heading');

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
      font-size: getFontSizeDesc('team-heading');
    }
  }

  &__list {
    @media screen and (min-width: $tablet) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: -30px;
      margin-left: -30px;
      flex-wrap: wrap;
    }
  }

  &__member {
    width: 450px;
    padding-bottom: 24px;

    background-color: getBcgColor('primary');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 354px;
      margin-top: 30px;
      margin-left: 30px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;

      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }

  &__photo {
    width: 100%;
    margin-bottom: 30px;
  }

  &__subheading {
    font-weight: $secondary-font-weight;
    font-size: getFontSizeMob('team');
    line-height: $secondary-line-height;
    text-align: center;
  }

  &__spec {
    margin-bottom: 16px;
    font-size: getFontSizeMob('team');
    line-height: $secondary-line-height;
    text-align: center;
  }
}
