.section {
  &__subheading {
    margin-top: 0;
    margin-bottom: 10px;
    color: getTextColor('title');
    font-weight: $primary-font-weight;
  }

  &__heading {
    color: getTextColor('title');
    font-weight: $primary-font-weight;
    line-height: 1.17;
    text-align: center;
  }

  &__label {
    margin-bottom: 20px;
    color: getTextColor('white');
    font-weight: $primary-font-weight;
    line-height: $primary-line-height;
    text-transform: uppercase;
  }
}
