// $logo-font-size: 26px;
// $primary-text-font-size: 14px;
// $main-heading-font-size: 44px;

// $section-heading-font-size: 36px;
// $button-text-font-size: 16px;

// $form-modal-text-font-size: 12px;
// $animation-text-font-size: 18px;
// $team-section-font-size: 16px;

$default-font-weight: 400;
$primary-font-weight: 700;
$secondary-font-weight: 500;

$default-line-height: 1.71;
$primary-line-height: 1.14;
$secondary-line-height: 1.19;

// font-family
$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;

// animation
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
