// font properties
$main-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;

$default-font-weight: 400;
$primary-font-weight: 700;
$secondary-font-weight: 500;

$default-line-height: 1.71;
$primary-line-height: 1.14;
$secondary-line-height: 1.19;

// animation
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
